{% extends "layouts/base.html" %} {% block title %} Start Exam {% endblock title%}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %}
<!-- Add any specific stylesheets here -->
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Question {{ current_question_index + 1 }}</h4>
            <p class="card-category">{{ current_question.text }}</p>
        </div>
        <div class="card-body">
            <form action="{{ url_for('quiz.submit_answer', exam_id=exam._id['$oid'], question_index=current_question_index) }}" method="post">
                {% for option in current_question.options %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="answer" value="{{ option.text }}">
                        {{ option.text }}
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                {% endfor %}
                <div class="mt-3">
                    {% if current_question_index > 0 %}
                    <button type="submit" name="action" value="back" class="btn btn-info">Back</button>
                    {% endif %}
                    {% if current_question_index < questions|length - 1 %}
                    <button type="submit" name="action" value="next" class="btn btn-primary">Next</button>
                    {% else %}
                    <button type="submit" name="action" value="submit" class="btn btn-success">Submit Exam</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
